/**
 * Header
 */

.site-header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1;
  line-height: 50px;
  font-size: 20px;
  box-sizing: border-box;

  text-align: center;

  a {
    text-decoration: none;
  }
}

.title {
  float: left;
}

@media only screen and ( max-width: 520px ) {
  .logo {
    display: none;
  }

  .site-header {
    position: absolute;
  }
}

.site-nav {
  float: right;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.sidebar-nav-item {
  color: black;
}

.sidebar-nav-item {
  padding: 0 10px;
}

/**
 * Home
 */

.info h1 {
  font-weight: 400;
}

.logo {
  position: absolute;
  left: calc(50% - 24px);
}

.avatar {
  height: 48px;
  border-radius: 48px;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.post-list {
  list-style: none;
}

.journal {
  margin-bottom: 88px;
}

/**
 * Post
 */
.post-title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.text-left {
  text-align: left;
}

/**
 * Pagination
 */
.pager {
  list-style: none;
  display: flex;
}

.previous {
  flex: 1;
}

/**
 * Archive
 */
.archive {
  float: right;
}

/**
 * reward
 */
.reward-section {
  margin-top: 32px;
  margin-bottom: 48px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.reward-button {
  width: 36px;
  height: 36px;
  margin-top: 14px;
  color: #fff;
  background-color: #ea6f5a;
  border-radius: 22px;
  border: none;
  transition: all 0.2s ease-out;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
}

.reward-button:hover {
  background-color: #f14e32;
  transform: translateY(-4px);
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}

#qr div {
  display: inline-block;
  margin: 2px 32px;
}

.reward {
  text-align: center;
  color: #999;
  padding: 0.6em 0 0.8em 0;
  font-size: 14px;
  margin-bottom: 0 !important;
}
