---
layout: default
---

<article class="container typo">

  <section class="info">

    {{ content }}

  </section>

  <hr>

  <section class="posts">
    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.journal == nil %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            {% assign date_format = site.gravid.date_format | default: "%m/%d/%Y" %}
            <small class="post-meta">{{ post.date | date: date_format }}</small>
            <p class="typo-small">{{ post.content | split:"<!-- more -->" | first | strip_html }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

</article>
