---
layout: default
---

<article class="container typo">
  <h1 class="post-title">
    {% if page.journal %}
      <code class="highlighter-rouge">{{ page.journal }}: </code>
    {% endif %}
    {{ page.title }}
  </h1>
  {{ content }}

  <div class="pagination">
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url }}">&larr; {{ page.next.title }}</a>
    {% endif %}

    {% if page.previous.url %}
      <a class="previous" href="{{ page.previous.url }}">{{ page.previous.title }} &rarr;</a>
    {% endif %}
  </div>

  {% if site.enable_reward %} {% include reward.html %} {% endif %}
</article>
